body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #edf4f4d0;
}

h2 {
    box-sizing: border-box;
    font-size: 40px;
    padding: 10px;
    color: rgb(27, 47, 149);
    background-color: rgb(238, 243, 154);
    margin: 1px 0px 40px 0px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 0px;
    background-color: black;
    border-radius: 15px;
}

.display {
    width: 24.88rem;
    height: 6.5rem;
    border: 10px solid black;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    box-sizing: border-box;
    background-color: #b7e9d1bf;
    padding: 15px;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    overflow-x: auto;
}

.operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    padding: 10px;
    border: 5px solid black;
    background-color: black;
}

button {
    background-color: rgba(162, 160, 160, 0.882);
    width: 5rem;
    height: 5rem;
    padding: 0;
    font-size: 1.8rem;
    margin: 3px;
    color: black;
    font-weight: 700;
    font-family: Roboto;
}

button:hover {
    background-color: #c6c2c295;
}



img {
    box-sizing: border-box;
    width: 2rem;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.op {
    background-color: rgb(13, 188, 13);
}

.op:hover {
    background-color: rgb(10, 150, 10);
}

#util {
    background-color: rgb(231, 131, 0);
}

#util:hover {
    background-color: rgb(200, 120, 0);
}

#eq {
    width: 10.6rem;
    margin: 3px;
    background-color: rgb(0, 128, 255);
}

#eq:hover {
    background-color: rgb(0, 102, 204);
}